
$primary: red;

$info: orange;
$success: green;
$warning: blue;
$danger: indigo;

$light: lightgrey;
$dark: darkgrey;


@import "~bulma/bulma";

$navbar-breakpoint: $desktop;

@import "~bulma/sass/utilities/_all.sass";


html, body, #app, #__nuxt, #__layout {
    height: 100%;
}
#app {
    min-height: 100%;
    //display: flex;
    //flex-direction: column;
}
